.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


body {
   background-color: rgb(120, 130, 136)
}
form {
   display: table;
   border-radius: 20px;
   padding: 10px;
}
form > p {
   display: table-row;
}
form > p > label {
   display: table-cell;
   text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white;
   padding-left: 20px;
}
form > p > textarea {
   display: table-cell;
}
form > p > input {
   display: table-cell;
}
.editSub {
   margin-left: 20px;
}
/* OUR CSS ============== */
/* REVIEWS MODAL */
.review-modal-box{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.review-modal-content{
  width: 500px;
  background-color: white;
  color: black;
  border-style: solid;
  border-radius: 5px;
}
.review-modal-footer{
  padding: 10px;
}

.review-modal-title{
  margin: 0 auto;
  background-color: black;
  color: white;
}
.review-modal-title > h2{
  margin: 0;
  padding-top: 10px;
}
.review-modal-info{
  margin: 0 auto;
  text-align: left;
  padding-left: 10px;
}
.review-modal-review{
  padding-right: 10px;
  text-align: justify;
  height: 350px;
  overflow-y: scroll;
}
.review-modal-image{
  border-radius: 0px;
  padding-top: 10px;
}
.review-modal-body{
  padding: 10px;
}
/*REVIEWS MODAL END */
.flexContainer{
  display: flex;
  flex-wrap: wrap;
}
.limit {
  border-style: solid;
  border-radius: 10px;
  border-color: #4b4550;
  width: 300px;
  margin: 20px;
  margin-top: 5px;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #4b4550;
  box-shadow: 5px 5px 5px #9e96ab;
}
img {
   width: 250px;
   height: 275px;
   margin-bottom: 0px;

}
p {
  text-align: left;
  padding-left: 10px;
  margin: 0px;
}
.modalStyle{
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom:0;
   background-color: rgb(0,0,0,.5);
   display: flex;
   align-items: center;
   justify-content: center;
}
.modalStyle > form {
   background-color: rgb(0,0,0,.85);
}
.closeEditModal {
   align-self: flex-start;
   margin-top: 29%;
}
.greaterCard {
   height: 35rem;
}
.buttonWrap {
   margin-top: 10px;
}
.limit > h1 {
   font-size: 32px;
   width: 100%;
}

/* styling for the title of the cards */
.titleCard {
   height: 50px;
   width: 100%;
   margin: 0 auto;
}
div > button {
   background-color: inherit;
   border: none;
   color: black;
   margin-right: 25px;
   margin-left: 25px;
   margin-bottom: 0px;
}
div > button:hover {
   color: red;
}
button > i {
   font-size: 25px;
}
