.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form {
   display: table;
}
form > p {
   display: table-row;
}
form > p > label {
   display: table-cell;
}
form > p > textarea {
   display: table-cell;
}
form > p > input {
   display: table-cell;
}

/* OUR CSS ============== */
/* REVIEWS MODAL */
.review-modal-box{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.review-modal-content{
  width: 500px;
  background-color: white;
}
.review-modal-footer{
  padding: 10px;
}
.review-modal-body{
  padding: 10px;
  border-style: solid;
}
/*REVIEWS MODAL END */
.flexContainer{
  display: flex;
  flex-wrap: wrap;
}
.limit {
  border-style: solid;
  border-radius: 10px;
  border-color: #4b4550;
  width: 300px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #4b4550;
  box-shadow: 5px 5px 5px #9e96ab;
}
img {
   width: 250px;
   height: auto;
}
p {
  text-align: left;
  padding-left: 10px;
}
